body table, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    background-color:lightblue;
}



th {
    color: darkcyan;
    direction: rtl;
    border: 1px solid black;
}