body {
 direction:rtl;
 background-color:black;
 color:white
    
}
h1{
    color: aquamarine;
}
h2{
    color: aqua
}
p{
    color: cadetblue
}
img {
    display: block;
    margin: 0 auto;
}
a{
    color:paleturquoise
}